<footer>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nihil aliquid illo iste rem officiis ratione eligendi vel similique. Aliquam totam maiores dignissimos ratione repellat. In iure inventore reiciendis? Culpa?</p>
</footer>